.issue_notes_on_context_menu > .issue_notes_on_context_menu_wiki_outer {
    display: none;
}
.ui-dialog.issue_notes_on_context_menu {
    display: flex;
    flex-direction: column;
}
.ui-dialog.issue_notes_on_context_menu .issue_notes_on_context_menu_wiki_outer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    box-sizing: border-box;
}
.ui-dialog.issue_notes_on_context_menu .wiki {
    flex: 1 1 auto;
    width: 100% !important;
    box-sizing: border-box;
}
.ui-dialog.issue_notes_on_context_menu .ui-dialog-titlebar-button-group {
    position: absolute;
    right: 30px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    display: inline-flex;
}
.ui-dialog.issue_notes_on_context_menu .ui-dialog-titlebar-button-group a,
.ui-dialog.issue_notes_on_context_menu .ui-dialog-titlebar-button-group button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.ui-dialog.issue_notes_on_context_menu:not(.maximized) button.maximize,
.ui-dialog.issue_notes_on_context_menu:not(.maximized) button.maximize:hover,
.ui-dialog.issue_notes_on_context_menu:not(.maximized) button.maximize:focus {
  background-image: url(../images/zoom_out_map_FILL0_wght400_GRAD0_opsz20.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.ui-dialog.issue_notes_on_context_menu.maximized button.restore,
.ui-dialog.issue_notes_on_context_menu.maximized button.restore:hover,
.ui-dialog.issue_notes_on_context_menu.maximized button.restore:focus {
  background-image: url(../images/zoom_in_map_FILL0_wght400_GRAD0_opsz20.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.ui-dialog.issue_notes_on_context_menu:not(.maximized) button.restore,
.ui-dialog.issue_notes_on_context_menu.maximized button.maximize {
    display: none;
}
.ui-dialog.issue_notes_on_context_menu.maximized {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    box-sizing: border-box;
}
body.issue_notes_on_context_menu_wiki_maximized {
    overflow: hidden !important;
}

.ui-dialog.issue_notes_on_context_menu .ui-dialog-titlebar-button-group a.edit,
.ui-dialog.issue_notes_on_context_menu .ui-dialog-titlebar-button-group a.edit:hover,
.ui-dialog.issue_notes_on_context_menu .ui-dialog-titlebar-button-group a.edit:focus {
  background-image: url(../images/edit_FILL0_wght400_GRAD0_opsz20.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.ui-dialog.issue_notes_on_context_menu:not(.editable) .ui-dialog-titlebar-button-group a.edit {
    display: none;
}
.ui-dialog.issue_notes_on_context_menu .ui-dialog-title {
    width: calc(100% - 120px);
}
